/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 * @see https://codepen.io/rafaelcastrocouto/pen/LFAes for page layout examples.
 */

.column-handle {
	width: 17px;
}

table.qb-quote-items tbody td.column-handle::before {
	content: "\f333";
	font-family: Dashicons;
	text-align: center;
	line-height: 1;
	color: #999;
	display: block;
	width: 17px;
	height: 100%;
	margin: 4px 0 0 0;
}

table.qb-quote-items tbody td.column-handle {
	cursor: move;
	text-align: center;
	vertical-align: text-top;
}

p[data-placeholder]:not(:focus):not([data-placeholder-content]):before {
	content: attr(data-placeholder);
	opacity: 0.5;
	font-style: italic;
}

.qb-logo {
	right: 0;
	top: 0;
	position: absolute;
}

img.qb-logo {
	max-height: 150px;
	max-width: 150px;
}

.qb-heading {
	left: 0;
}

@media print {
	body, page {
		margin: 0;
		box-shadow: unset;
	}
}